@model LangInformant.Domain.Entities.Meaning

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <td class="button">
            @Html.ActionLink("Add Word", "AddWord")
        </td>
    </tr>
    <tr>
        <td class="button">
            @Html.ActionLink("List Words", "List")
        </td>
    </tr>
</table>
